<config>
    <sections>
	
	
        <beezup translate="label" module="beezup">
            <label>BeezUP</label>
            <tab>catalog</tab>
            <sort_order>900</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <tracking translate="label">
                    <label>Tracking</label>
                    <frontend_type>text</frontend_type>
                    <comment><![CDATA[<div style="font-size:11px;padding:3px;margin-bottom:20px;background:#FFF9E9;border:1px solid #EEE2BE">Support BeezUP : <a href="mailto:help@beezup.com">help@beezup.com</a> (Magento BeezUP v4.5.0) - <a href="http://go.beezup.com" target="_blank">My BeezUP Account</a></div>]]></comment>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <storeid translate="label">
                            <label>Store ID</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Get your Store ID from My trackers page in your BeezUP account]]></comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </storeid>
                        <marge translate="label">
                            <label>Calculate product margin</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[The field cost must be indicated for all products]]></comment>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </marge>
						<montant translate="label">
                            <label>Total orders amount</label>
                            <frontend_type>select</frontend_type>
                            <source_model>beezup/system_config_source_montant</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </montant>
                        <debug translate="label">
                            <label>Logs</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Enable tracker logs (var/log/beezup.log)]]></comment>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debug>
                    </fields>
                </tracking>
            </groups>
			
			
			
			
			<groups>
				<marketplace tanslate="label">
				   <label>Marketplace</label>
                    <frontend_type>text</frontend_type>
                    <comment><![CDATA[<div style="font-size:11px;padding:3px;margin-bottom:20px;background:#FFF9E9;border:1px solid #EEE2BE">Support BeezUP : <a href="mailto:help@beezup.com">help@beezup.com</a> (Magento BeezUP v4.5.0) - <a href="http://go.beezup.com" target="_blank">My BeezUP Account</a></div>]]></comment>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					  <fields>
					  
    <api_credentials translate="comment">
                       			   <label>BeezUP API Credentials:</label>
								       <frontend_model>beezup/adminhtml_system_config_childgroup</frontend_model>
								   <sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                    </api_credentials>
				
					  <connection_status translate="label">
                            <label>API BeezUP Connection status:</label>
                              <frontend_type>text</frontend_type>
							  <frontend_model>beezup/adminhtml_system_config_credentials</frontend_model>
							  <backend_model>beezup/system_config_backend_credentials</backend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </connection_status>	  
						
					  <sync_status translate="label">
                            <label>Sync Status:</label>
                              <frontend_type>text</frontend_type>
							  <frontend_model>beezup/adminhtml_system_config_syncstatus</frontend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sync_status>	  
						
					  
					 	  <syncro_time translate="label">
                            <label>Last synchronization time :</label>
                              <frontend_type>text</frontend_type>
							  <frontend_model>beezup/adminhtml_system_config_time</frontend_model>
							    <backend_model>beezup/system_config_backend_time</backend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </syncro_time>	  
					  
					  					  
					  	  <cron_url translate="label">
                            <label>Manual orders retrieval link:</label>
                              <frontend_type>text</frontend_type>
							  <frontend_model>beezup/adminhtml_system_config_manualcron</frontend_model>

                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends><connection_status>1</connection_status></depends>
                        </cron_url>	 
					  
					  	  <cron_call translate="label">
                            <label>Cron Call</label>
                              <frontend_type>text</frontend_type>
							  <frontend_model>beezup/adminhtml_system_config_cron</frontend_model>

                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends><connection_status>1</connection_status></depends>
                        </cron_call>	  
					  
					  
					  <userid translate="label">
                            <label>User Id</label>
                               <frontend_type>text</frontend_type>
							   						 <comment><![CDATA[<a href='https://go.beezup.com/Account/MyAccount' target='_blank'>My Account</a>]]></comment>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </userid>
					  <usertoken translate="label">
                            <label>User Token</label>
                               <frontend_type>text</frontend_type>
						 <comment><![CDATA[<a href='https://go.beezup.com/Account/MyAccount' target='_blank'>My Account</a>]]></comment>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </usertoken>

						




    <status_mapping translate="comment">
                       			   <label>BeezUP API Status mapping :</label>
								       <frontend_model>beezup/adminhtml_system_config_childgroup</frontend_model>
								   <sort_order>16</sort_order>
							<show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                    </status_mapping>

				
					 <status_new translate="comment">
                            <label>New (New) </label>
							<frontend_type>select</frontend_type>
                            <source_model>beezup/system_config_source_status</source_model>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
						
                        </status_new>
				

					 <status_progress translate="comment">
                            <label>In progress (InProgress)</label>
							<frontend_type>select</frontend_type>
                            <source_model>beezup/system_config_source_status</source_model>
                            <sort_order>18</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
						
                        </status_progress>
				
				
					<status_cancelled translate="comment">
                            <label>Cancelled (Canceled)</label>
							<frontend_type>select</frontend_type>
                            <source_model>beezup/system_config_source_status</source_model>
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
						
                        </status_cancelled>
						
					<status_shipped translate="comment">
                            <label>Shipped (Shipped)</label>
							<frontend_type>select</frontend_type>
                            <source_model>beezup/system_config_source_status</source_model>
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
						
                        </status_shipped>
				
						<status_closed translate="comment">
                            <label>Closed (Closed)</label>
							<frontend_type>select</frontend_type>
                            <source_model>beezup/system_config_source_status</source_model>
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
						
                        </status_closed>
						
						
						<status_aborted translate="comment">
                            <label>(Aborted)</label>
							<frontend_type>select</frontend_type>
                            <source_model>beezup/system_config_source_status</source_model>
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
						
                        </status_aborted>
				

				
				
				    <stores_mapping translate="comment">
                       			   <label>BeezUP Stores mapping :</label>
								       <frontend_model>beezup/adminhtml_system_config_childgroup</frontend_model>
								   <sort_order>26</sort_order>
							<show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                    </stores_mapping>
				

		 				    <stores translate="comment">
                            <label>BeezUP Stores mapping :</label>
                            <frontend_model>beezup/adminhtml_system_config_stores</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>27</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
		
                        </stores>

						
						    <field_mapping translate="comment">
                       			   <label>BeezUP id field mapping :</label>
								       <frontend_model>beezup/adminhtml_system_config_childgroup</frontend_model>
								   <sort_order>28</sort_order>
							<show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                    </field_mapping>
				
						 				    <attributes translate="comment">
                            <label>BeezUP id field mapping</label>
                            <frontend_model>beezup/adminhtml_system_config_attributes</frontend_model>
                            <backend_model>beezup/system_config_backend_attributes</backend_model>
                            <sort_order>29</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>

                        </attributes>
				
						
		
						    <main_config_block translate="comment">
                       			   <label>BeezUP Config:</label>
								       <frontend_model>beezup/adminhtml_system_config_childgroup</frontend_model>
								   <sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                    </main_config_block>
            
						

						<payment_method translate="label">
                            <label>Default payment </label>
							<frontend_type>select</frontend_type>
                            <source_model>beezup/system_config_source_payment</source_model>
                            <sort_order>32</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </payment_method>		
						

						
					<available_products translate="label">
                            <label>Allow creating orders with non available products (Beta Version)</label>
							<frontend_type>select</frontend_type>
                            <source_model>beezup/system_config_source_availableproducts</source_model>
                            <sort_order>33</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </available_products>		
						
						
					<debug_mode translate="label">
                            <label>Debug Mode</label>
							<frontend_type>select</frontend_type>
							<comment>Set enabled to display error repporting (should be desabled in production shop)</comment>
                            <source_model>beezup/system_config_source_debug</source_model>
							    <comment><![CDATA[Create products if not matched - should always be disabled in production shop]]></comment>
                            <sort_order>34</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debug_mode>	
						
						
		    <log_block translate="comment">
                       			   <label>Last execution Logs:</label>
								       <frontend_model>beezup/adminhtml_system_config_childgroup</frontend_model>
								   <sort_order>35</sort_order>
							<show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                    </log_block>
						
					
					    <log translate="comment">
                       			   <label></label>
								       <frontend_model>beezup/adminhtml_system_config_log</frontend_model>
								   <sort_order>36</sort_order>
							<show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                    </log>
						
					  </fields>
			</marketplace>
			</groups>
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
            <groups>
                <flux translate="label">
                    <label>Catalog Flow</label>
                    <frontend_type>text</frontend_type>
                    <comment><![CDATA[<div style="font-size:11px;padding:3px;margin-bottom:20px;background:#FFF9E9;border:1px solid #EEE2BE">Support BeezUP : <a href="mailto:help@beezup.com">help@beezup.com</a> (Magento BeezUP v4.5.0) - <a href="http://go.beezup.com" target="_blank">My BeezUP Account</a></div>]]></comment>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <comment><![CDATA[www.yoursite.com/beezup/catalog/xml<br />www.yoursite.com/beezup/catalog/configurable <br /> www.yoursite.com/beezup/catalog/child]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <debug_flux translate="label">
                            <label>Debug Mode</label>
                            <comment><![CDATA[Limit the number of products]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debug_flux>
						<stock translate="label">
                            <label>Filter out of stock products</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </stock>
                        <ship translate="label">
                            <label>Shipping (Incl. Tax)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ship>
                        <tablerates_weight_destination translate="label">
                            <label>Table Rates</label>
                            <comment><![CDATA[Use Table Rates (only Weight vs. Destination)]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tablerates_weight_destination>
                        <ht translate="label">
                            <label>Catalog Price</label>
                            <frontend_type>select</frontend_type>
                            <source_model>beezup/system_config_source_price</source_model>
                            <comment><![CDATA[Product Price Excl. Tax or Incl. Tax in catalog]]></comment>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ht>
                        <vat translate="label">
                            <label>VAT Rates</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </vat>
                        <catalog_rules translate="label">
                            <label>Use Catalog Price Rules</label>
                            <comment><![CDATA[Let off if Catalog Price Rules are not used]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </catalog_rules>
                        <days_in translate="label">
                            <label>Delivery Time if Product in Stock</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Enter eg 1-2 for 1 to 2 days]]></comment>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </days_in>
                        <days_out translate="label">
                            <label>Delivery Time if Product out of Stock</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Enter eg 6-8 for 6 to 8 days]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </days_out>
                        <description translate="label">
                            <label>Product description</label>
                            <frontend_type>select</frontend_type>
                            <source_model>beezup/system_config_source_description</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </description>
                        <attributes translate="label">
                            <label>Specific Attributes</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>beezup/system_config_source_attributes</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </attributes>
                        <ip translate="label">
                            <label>BeezUP Server IP address</label>
                            <comment><![CDATA[Only this IP address will be able to read the flow (leave empty to disable the restriction)]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ip>
                        <key translate="label">
                            <label>Key</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Protects the flow by a unique key (Eg: 85ds6f7): www.yoursite.com/beezup/catalog/xml/key/85ds6f7/]]></comment>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </key>
                        <bom translate="label">
                            <label>Bom</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Add Byte Order Mark (BOM)]]></comment>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bom>
						<cachedelay translate="label">
							<label>Cache delay</label>
							<frontend_type>select</frontend_type>
							<source_model>beezup/system_config_source_cache</source_model>
							<comment><![CDATA[Refresh time of the cache export file in hours]]></comment>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</cachedelay>
						<images translate="label">
							<label>Export all available pictures</label>
							<frontend_type>select</frontend_type>
							<source_model>beezup/system_config_source_images</source_model>
							<comment><![CDATA[Export all available pictures]]></comment>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</images>
						
						<category_logic translate="label">
													<label>Category Logic</label>
							<frontend_type>select</frontend_type>
							<source_model>beezup/system_config_source_categories</source_model>
							<comment><![CDATA[Choose option 1 if don't know what this is]]></comment>
                            <sort_order>18</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</category_logic>
						
						
						
                    </fields>
                </flux>
            </groups>
        </beezup>
    </sections>
</config>